.mat-select {
  width: 60%;
}

.even {
  background-color: #f2f2f2;
}

md-dialog-container {
  margin: auto;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.icon {
  width: 35px;
  height: 35px;
}

.mat-line {
  margin-bottom: 20px !important;
  font-weight: bold !important;
}
