<div class="fixActionRow">
  <h1 mat-dialog-title>{{ referential.Title }}</h1>
  <div mat-dialog-content>
    <mat-form-field class="mat-select">
      <input
        type="text"
        placeholder="Choisir une annexe"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let anx of (filteredOptions | async)"
          [value]="anx.Title"
          autoActiveFirstOption
          (onSelectionChange)="setAnnex(event, anx)"
        >
          {{ anx.Title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button *ngIf="shouldShowDownloadButtons()">
      <img class="icon" src="../../assets/ms-excel.png" />
    </button>
    <button mat-icon-button *ngIf="shouldShowDownloadButtons()">
      <img class="icon" src="../../assets/icons8-xml-file-48.png" />
    </button>
    <mat-list>
      <mat-list-item>
        <h4 matLine>Code: {{ annexe.ID }}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 matLine>Domaine: {{ referential.Title }}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 matLine>Annexe: {{ annexe.Title }}</h4>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h4 class="assujetis">Etablissement assujettis:</h4>
    <mat-list>
      <mat-list-item>
        <h4 matLine *ngFor="let assujettis of annexe.AssujettisEtab">
          * {{ assujettis }}
        </h4>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary"><h3>Réferentiel précedant</h3></button>
    <button mat-button color="primary"><h3>Réferentiel suivant</h3></button>
    <button mat-button color="warn" [mat-dialog-close]="true">
      <h3>Fermer</h3>
    </button>
  </div>
</div>
