.mat-select {
  width: 70%;
  margin-bottom: 20px;
}

.even {
  background-color: #f2f2f2;
}

md-dialog-container {
  margin: auto;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}
