.mat-select {
  width: 100%;
}

.even {
  background-color: #f2f2f2;
}

md-dialog-container {
  margin: auto;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.icon {
  width: 35px;
  height: 35px;
}

.mat-line {
  margin-bottom: 10px !important;
  font-weight: bold !important;
}

.assujetis {
  margin-bottom: 0px;
}

::ng-deep .mat-select-content {
  width: 60%;
  font-size: 10px;
}

.mat-raised-button.small {
  line-height: 6px !important;
  margin-right: 20px;
  margin-left: 20px;
}

.download-file-container {
  float: right;
}
